h2 {
  padding: 0.25rem 0;
  margin-bottom: 1rem;
}

.post-list-item {
  width: 80%;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  /* Changed from center to flex-start */
  box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.3),
      2px 4px 20px hsla(0, 0%, 0%, 0.2);
}

.post-info {
  width: 100%;
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 1rem;
}

.topics-dropdown select {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease-out; /* Made transition faster */
}

.topics-dropdown select:hover {
  border-color: #2c2c2c;
  transform: translateY(-2px); /* Adds a slight lift effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bigger shadow */
  background-color: #f0f0f0;
  font-weight: bold; /* Text becomes bold on hover */
}

.topics-dropdown select:focus {
  outline: none;
  border-color: #2c2c2c;
  box-shadow: 0 0 0 3px rgba(44, 44, 44, 0.3);
}

.topics-dropdown select option {
  padding: 8px;
  background-color: white;
  transition: all 0.2s ease;
}

.topics-dropdown select option:hover {
  background-color: #e0e0e0;
}

.post-search {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease-out; /* Made transition faster */
  border-color: #2c2c2c;
  transform: translateY(-2px); /* Adds a slight lift effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bigger shadow */
  background-color: #f0f0f0;
  font-weight: bold; /* Text becomes bold on hover */
}